{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Connexion</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="{{ path('home') }}">Accueil</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Connexion</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row pt-lg-5 pb-lg-5">
            <div class="col-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
                    <label for="inputEmail">E-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <br>

                    <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
