{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <div class="container-fluid bg-primary mb-5">
        <div
                class="d-flex flex-column align-items-center justify-content-center"
                style="min-height: 400px"
        >
            <h3 class="display-3 font-weight-bold text-white">Our Classes</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Our Classes</p>
            </div>
        </div>
    </div>


    <!-- Class Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">Popular Classes</span>
                </p>
                <h1 class="mb-4">Classes for Your Kids</h1>
            </div>

            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4 mb-5">
                        <div class="card border-0 bg-light shadow-sm pb-2">
                            <img class="card-img-top mb-2" src="{{ asset('uploads/' ~ product.illustration) }}" alt="{{ product.name }}" />
                            <div class="card-body text-center">
                                <h4 class="card-title">{{ product.name }}</h4>
                                <p class="card-text">
                                    {{ product.description|e('html') }}
                                </p>
                            </div>
                            <button class="col-6 btn btn-primary px-2 mx-auto mb-4">{{ product.price }} FDJ</button>
                            <a href="{{ path('product_show', { 'slug' : product.slug }) }}" class="col-6 btn btn-primary px-2 mx-auto mb-4">Consulter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
